<%= form_tag charges_path do %>
  <h4>Upgrade your Account</h4>
  <p>For only $15 you can upgrade your account to a premium status. <br>
    Simply click the button below to pay with credit card.</p>
  <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
<% end %>
